# Python virtual environment
.venv/

# Rust build output
target/

# Rust lockfile (ignore only if this is intentional)
Cargo.lock

# Rust template / misc
OUTPUT_PARSING_TEMPLATE.rs
*:Zone.Identifier

# Wasm files
server/inference.wasm

# Built package that is sent to k8s
package/

# Other files
output_detection.mp4
install_torch.sh
*.torchscript
.vscode/