apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: latency-probe
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: latency-probe
  template:
    metadata:
      labels:
        app: latency-probe
    spec:
      containers:
      - name: latency-probe
        image: 192.168.0.105:32000/latency-probe:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 50m
            memory: 32Mi
        livenessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 10
      restartPolicy: Always