apiVersion: v1
kind: Service
metadata:
  name: wasm-inference
spec:
  type: NodePort
  selector:
    app: wasm-inference
  ports:
    - name: tcp
      port: 8080
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
    - name: udp
      port: 8081
      targetPort: 8081
      nodePort: 30081
      protocol: UDP